<template>

<div class="menuperfil">  
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" v-on:click="profileUser"><fa icon="briefcase"/> Admin</button>       
      <button type="button" class="btn btn-outline-primary" v-on:click="inDriver"><fa icon="id-card-alt"/> Conductor</button>
      <button type="button" class="btn btn-outline-primary" v-on:click="inRutas"><fa icon="route"/> Rutas</button>     
      <button type="button" class="btn btn-outline-primary" v-on:click="inBus"><fa icon="bus"/> Bus</button>
    </div>    
</div>
<hr>
    
    <div class="blq7-user">
        <h1>¡Bienvenido <span> {{username}} </span>!</h1>
        <img alt="icon-ruta" src="@/assets/iconuser.png"/>
        <h2>Nombre: <span> {{username}} </span></h2>
        <br>
        <h2>C.C. <span> {{document}} </span></h2>
        <br>
        <h2>Email: <span> {{email}} </span></h2>
    </div> 

    <div class="bus_user">
        <div class="container_bus">
            <h2><fa icon="id-card-alt" color="#2184b8" /> Ingreso Bus</h2>

            <form v-on:submit.prevent="onSubmit" >
               <div class="row mb-2">
                    <div class="col">
                        <div class="form-outline">
                          <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" placeholder="Placa" />                            
                        </div>  
                        </div>
                    </div>                
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" placeholder="Asientos" />                            
                        </div>
                    </div>
                </div>                  
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Modelo" />                    
                </div> 
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Habilidado" />                    
                </div>                                                   

                <button type="submit">Guardar Datos</button>
            </form>
        </div>
    </div>
    
</template>

<script>
export default {
  name: "bus",  

  data: function() {
    return {
      username: localStorage.getItem("username") || "usuario",
      document: localStorage.getItem("document") || "documento",
      email: localStorage.getItem("email") || "email",
    };
  },
  methods: {
    inRutas: function() {
      this.$router.push({ name: "routes" });
    },    
    inDriver: function() {
      this.$router.push({ name: "driver" });
    },
    inBus: function() {
      this.$router.push({ name: "bus" });
    },
    profileUser: function() {
      this.$router.push({ name: "profile" });
    },
    
  },
};
</script>



<style> 

.menuperfil button {
    color: #2184b8;        
    background: none;
    text-align: left;          
    text-decoration: none;     
    display:inline-block;
    border: none;
    
} 

hr {
  margin-top: 5px;
  color: #2184b8;

}

.blq7-user {
  justify-content: center;
  align-items: center;
  margin-top: -50px;  
}

.blq7-user img{
    display:inline-block;
    margin-left: 1050px;
    position: relative;
    margin-top: 5px;    
    width: 150px;
    height: 150px;
} 

.blq7-user h2{
    font-size: 25px;    
    margin-top: 30px;
    margin-left: 900px;
    display:inline-block;
    position: relative;   
    color: #fff;
}

.blq7-user h1{
    font-size: 35px;
    color: #fff;
    margin-top: -50px;    
    margin-left: 960px;
    display:inline-block;
    position: relative;   
}

.blq7-user span {
  color: #4d4c4c; 
  font-style: italic; 
}

.bus_user{
  margin-top: -350px;        
  margin-right: 5px;
  padding: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;     
    
}

.bus_user h2{
        color: #4d4c4c;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 210px;
        
    }
    
.bus_user form{
    width: 70%;                
    }


.bus_user button{
    width: 100%;
    height: 40px;
    color: #fff;
    background: #2184b8;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
    margin-bottom: 35px;
    font-size: 20px;        
    display:flex;
    justify-content: center;
    align-items: center;
    }

.bus_user button:hover{
    color: #fff;
    background: rgb(20, 190, 220);
    border: 1px solid #2184b8;
}

.container_bus {        
    width: 45%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 5px;        
    
}

.container_bus input {
    border: 1px solid #2184b8;
}

.container_bus select {
    border: 1px solid #2184b8;
}  

</style>