<template>
  <table class="table table-striped">
    <h3> Lista Buses </h3>
    <thead>
      <tr>
        <th scope="col" width="70">Placa</th>
        <th scope="col" width="90">Asientos</th>
        <th scope="col" width="100">Modelo</th>
        <th scope="col" width="100">Habilitado</th>
        <th scope="col" width="200">Conductor</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{placa }}</th>
        <td>{{asientos }}</td>
        <td>{{modelo}}</td>
        <td>{{ habilitado }}</td>
        <td>{{ conductor }}</td> 
        <td>
           <button class="btn btn-info">
            Editar
          </button>
          <button class="btn btn-danger mx-3">
            Eliminar
          </button> 
        </td>        
      </tr>
    </tbody>
  </table>  

      
 </template> 


 <style>

  table {      
    margin-top: -400px;
    margin-left: -90px; 
    white-space:nowrap;     
    display: inline-block; 
    position: relative;    
  }

  th, td {
     text-align: center;      
  } 

  th {
    color: #2184b8;
    
  }

  h3 {
  color: #2184b8;  
}


 
 </style>