<template>
  <div class="t-route">
  <table class="table table-striped">
    <h3> Lista Rutas </h3>
    <thead>
      <tr>
        <th scope="col" width="100">Circuito</th>
        <th scope="col" width="150">Origen</th>
        <th scope="col" width="200">Destino</th>
        <th scope="col" width="110">Precios</th>             
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{circuito}}</th>
        <td>{{origen }}</td>
        <td>{{destino}}</td>
        <td>{{precios}}</td>        
        <td>
           <button class="btn btn-info">
            Editar
          </button>
          <button class="btn btn-danger mx-3">
            Eliminar
          </button> 
        </td>        
      </tr>
    </tbody>
  </table>  
</div>
      
 </template>


 <style>

  .t-route table {      
    margin-top: -400px;
    margin-left: -90px; 
    white-space:nowrap;     
    display: inline-block;  
    position: relative;
    
  }

  .t-route th, td {
     text-align: center;      
  } 

  .t-route th {
    color: #2184b8;
    
  }


 
 </style>