<template>
           
    <div class="ini"> 
        <img src="../assets/inicio.png" class="img-fluid" alt="..." />      
    </div>

    <div class="texto">
        <h1>El Transporte que <br> necesitas!</h1>
        <div class="btn-group" role="group" aria-label="Basic outlined example">  
            <button type="button" class="btn btn-outline-primary" v-if="!is_auth" v-on:click="profileUser" >Inicia el Viaje <fa icon="bus"/> </button>          
        </div>         
    </div>    

      
    
</template>


<script>
export default {
  name: "inicio",

  data: function() {
    return {
      username: localStorage.getItem("username") || "usuario",
    };
  },
  methods: {
    profileUser: function() {
      this.$router.push({ name: "login" });
    },
    
  },
};
</script>

<style>
   .ini {
    display:inline-block;
    position:relative;     
}    

  .texto{
    position: absolute;
    top: 30px;
    left: 10px;
    color: #2184b8;
    font-size: 90px;
    font-weight: bold;
    font-style: italic;
    margin-left: 80px;
    margin-top: 100px;
    text-align: justify;
}

.texto h1 {
    color: #2184b8;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}

.texto button {
    background: #2184b8;
    color: white;
    position: absolute;
    width:200px;
    height:50px;
    font-size: 20px;
    margin-left: 10px
    
}


</style>