<template>
    
 <div class="blq">        
    <div class="img_ini"> 
        <img alt="Logoapp" src="../assets/photo1.png" height="375" width= "300"/>
    </div>
    
    <div class="logIn_user">         
                   
        <div class="container_logIn_user">
            <img alt="Logoapp" src="../assets/logop.png" height="50" width= "50"/>
            <h2>Iniciar sesión</h2>
        
            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Enter Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Enter Password">
                <br>
                <button type="submit">Iniciar Sesion</button>                     
                
            </form>
        </div>
    </div>
</div>  
 
</template>

<script>
import axios from 'axios';

export default {
    name: "login",
    data: function(){
        return {
            user: {
            username:"",
            password:""
            }
        }
    },

    methods: {
        processLogInUser: function(){
            axios.post(
                "https://transporte-colombiana-db.herokuapp.com/apptransport/login/",
                this.user,
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                });
        }
    }
}
</script>

<style>

   .bpl {
    display: inline-block;
   }
    .logIn_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    
    .container_logIn_user {
        border: 1px solid #2184b8;
        width: 27%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ; 
        position: absolute;
        background: white;
        margin-left: 283px;
        margin-top: -15px;        
    }

    .img_ini {       
        margin-top: 40px;
        margin-left: 333px;
        border-radius: 10px;        
        width: 50px;
        height: 200px;
        position: relative;
        align-items: center;
       
        
        
    }

    .logIn_user h2{
        color: #2184b8;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .logIn_user form{
        width: 70%;
        
    }
    .logIn_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #2184b8;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .logIn_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #2184b8;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        margin-top: 15px;
    }
    .logIn_user button:hover{
        color: #E5E7E9;
        background: rgb(20, 190, 220);
        border: 1px solid #2184b8;
    }


</style>