<template>  

  <div class="menuperfil">  
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" v-on:click="profileUser"><fa icon="briefcase"/> Admin</button>       
      <button type="button" class="btn btn-outline-primary" v-on:click="inDriver"><fa icon="id-card-alt"/> Conductor</button>
      <button type="button" class="btn btn-outline-primary" v-on:click="inRutas"><fa icon="route"/> Rutas</button>      
      <button type="button" class="btn btn-outline-primary" v-on:click="inBus"><fa icon="bus"/> Bus</button>
    </div>
    <hr>
  </div>
    
    <div class="blq3-user">
        <h1>¡Bienvenido <span> {{username}} </span>!</h1>
        <img alt="icon-ruta" src="../assets/iconuser.png"/>
        <h2>Nombre: <span> {{username}} </span></h2>        
        <h2>C.C. <span> {{document}} </span></h2>        
        <h2>Email: <span> {{email}} </span></h2>
    </div>
  
    <div class="tablas">
       
      <div class="container my-5">        
        <section class="mt-5">                
          <TableRuta />
        </section>
      </div> 
     
      <br>
      <div class="container my-5">        
        <section class="mt-5">                
          <TableDriver />
        </section>
      </div> 

      <br>
        
      <div class="container my-5">        
        <section class="mt-5">         
          <TableBus />
        </section>
      </div>  

    </div>  
</template>

<script>
import TableBus from "@/components/Bus/TableBus.vue";
import TableDriver from "@/components/Driver/TableDriver.vue";
import TableRuta from "@/components/Rutas/TableRuta.vue";

export default {
  name: "profile",

  data: function() {
    return {
      username: localStorage.getItem("username") || "usuario",
      document: localStorage.getItem("document") || "documento",
      email: localStorage.getItem("email") || "email",
    };
  },

  components: {    
    TableBus,
    TableDriver,
    TableRuta,
  },

  methods: {
    inRutas: function() {
      this.$router.push({ name: "routes" });
    },    
    inDriver: function() {
      this.$router.push({ name: "driver" });
    },
    inBus: function() {
      this.$router.push({ name: "bus" });
    },
    profileUser: function() {
      this.$router.push({ name: "profile" });
    },
    
    
  },
};
</script>

<style>

.menuperfil { 
  display: inline-block;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 5px; 
  margin-left: 25px;  
}

.menuperfil button {
    color: #2184b8;        
    background: none;
    text-align: left;          
    text-decoration: none;     
    display:inline-block;
    border: none;
    
} 

hr {
  margin-top: 5px;
  color: #2184b8;
  

}

.blq3-user {  
  margin: 0 auto;
  width: 100%;
  
}

.blq3-user img{
    display:inline-block;
    margin-left: 1050px;
    position: relative;
    margin-top: 5px;    
    width: 150px;
    height: 150px;
} 

.blq3-user h2{
    font-size: 25px;    
    margin-top: 30px;
    margin-left: 900px;
    display:inline-block;
    position: relative;   
    color: #fff;
}

.blq3-user h1{
    font-size: 35px;
    color: #fff;
    margin-top: -50px;    
    margin-left: 960px;
    display:inline-block;
    position: relative;   
}

.blq3-user span {
  color: #4d4c4c; 
  font-style: italic; 
}

.tablas {
  margin-top: -50px;
}
</style>