<template>    

    <div class="signUp_user">
        <div class="init"> 
        <img src="../assets/public-transport.jpg" class="img-fluid" alt="..." />      
        </div>
        <div class="container_signUp_user">
            <h2>Registro de Usuario</h2>

            <form v-on:submit.prevent="processSignUp" >
               <div class="row mb-2">
                    <div class="col">
                        <div class="form-outline">
                            <div class="select">
                                <select class="form-select" id="tip_doc" >  
                                    <option value="">Tipo de Documento</option>
                                    <option value="CC">Cedula Ciudadania</option>
                                    <option value="CE">Cedula Extranjeria</option>
                                    <option value="P">Pasaporte</option>                
                                </select>
                            </div>
                        </div>
                    </div>                
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" v-model="user.documento" id="documento" class="form-control" placeholder="N° Documento" />                            
                        </div>
                    </div>
                </div>                  
                <div class="form-outline mb-2">
                    <input type="text" v-model="user.nombres" id="nombres" class="form-control" placeholder="Nombre Completo" />                    
                </div>                 
                <div class="form-outline mb-2">
                    <input type="text" v-model="user.correo" id="correo" class="form-control" placeholder="Email"/>                    
                </div>                 
                <div class="form-outline mb-2">
                    <input type="text" v-model="user.username" id="username" class="form-control" placeholder="Username" />                            
                </div>                            
                <div class="form-outline mb-2">
                    <input type="text" v-model="user.password" id="password" class="form-control" placeholder="Password" />                            
                </div>
                            
                <button type="submit">Guardar Datos</button>
            </form>
        </div>
    </div>    
</template>

<script>
import axios from 'axios';

export default {
    name: "signUp",
    
    data: function(){
        return {
            user: {
                typedocumente: "",
                document: "",
                name: "",                
                email: "",                
                username: "",
                password: "",                
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://transporte-colombiana-db.herokuapp.com/apptransport/user/",
                this.user,
                {headers: {}}
            )
                .then((result) => {
                    let dataSignUp = {
                    username: this.user.username,
                    token_access: result.data.access,
                    token_refresh: result.data.refresh,
                }
                    alert("Registro Exitoso"),
                    this.$emit('completedSignUp', dataSignUp)
                })
                .catch((error) => {
                console.log(error)
                alert("ERROR: Fallo en el registro.");
                });
        }
    }
}
</script>

<style>

    .init {
        display:inline-block;
        position:absolute;   
        margin-top: 90px; 
         
    }  

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .container_signUp_user {
        background: #fff;
        opacity: .8;
        border-radius: 10px;
        width: 60%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;        
        border: 1px solid #2184b8;
    }

    .container_signUp_user input {
        border: 1px solid #2184b8;
    }

    .container_signUp_user select {
        border: 1px solid #2184b8;
    }  


    .signUp_user h2{
        color: #2184b8;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    
    .signUp_user form{
        width: 70%;        
        }

   
    .signUp_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #2184b8;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        margin-bottom: 35px;
        font-size: 20px;        
        display:flex;
        justify-content: center;
        align-items: center;
        }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: rgb(20, 190, 220);
        border: 1px solid #2184b8;
}
</style>