<template>
  <div id="back"></div>
  
  <div id="app" class="app">
    
    <div class="header">
      <img alt="Logoapp" src="./assets/logoheader.png" width="400" height="82"/>
      
      <nav>
        <div class="btn-group" role="group" aria-label="Basic outlined example">                  
          <button type="button" class="btn btn-link" v-if="is_auth" v-on:click="loadPerfil"> Inicio Admin </button>          
          <button type="button" class="btn btn-link" v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
          <button type="button" class="btn btn-link" v-if="!is_auth" v-on:click="inicioBack"><fa icon="home"/> Home </button>
          <button type="button" class="btn btn-link" v-if="!is_auth" v-on:click="loadLogIn" ><fa icon="user"/> Iniciar Sesión </button>
          <button type="button" class="btn btn-link" v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        </div>
      </nav>
    </div>

    <div class="main-component">
      <router-view>
      </router-view>
    </div>
<br>   

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!-- Grid container -->
      <div class="container pt-1">
        <!-- Section: Social media -->
       
          <section class="mb-1">
            <!-- Facebook -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><fa :icon="['fab', 'facebook']"/>
              </a>

            <!-- Twitter -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><fa :icon="['fab', 'twitter']"/>
              </a>

            <!-- Instagram -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><fa :icon="['fab', 'instagram']"/>
              </a>

            <!-- Github -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><fa :icon="['fab', 'github']"/>
              </a>

              <!--Youtube -->
            <a
              class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="#!"
              role="button"
              data-mdb-ripple-color="dark"
              ><fa :icon="['fab', 'youtube']"/>
              </a>          
          </section>
       
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: Transporte Colombiana
      </div>
      <!-- Copyright -->
  </footer>

  </div>
</template>

<script>
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false
      }
  }, 
  

  methods:{
    verifyAuth: function() {
      this.is_auth = localStorage.getItem("isAuth") || false;
      
      if (this.is_auth == false)
        this.$router.push({ name: "inicio" });
      else
        this.$router.push({ name: "profile" });
      },

    loadLogIn: function(){
      this.$router.push({name: "login"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

    inicioBack: function(){
      this.$router.push({name: "inicio"})
    },      

    profileUser: function(){
      this.$router.push({name: "profile"})
    }, 

    
    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },


    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },

    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
    
    
    completeInicio: function(data) {},
    },

  created: function(){
    this.verifyAuth()
  }
}

</script>



<style>
  body{
    margin: 0 0 0 0;
  }

  #back {
    background-image: url("./assets/background.png");
    width: 100%;
    height: 100%;
    background-size: cover;    
    position: fixed;
    
    }

  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;        
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .header h1{
    width: 20%;
    text-align: center;
    }

  .header nav {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-right: 100px;
    margin-top: 5px;
    
    }

  .header nav button{
    color: #fff;  
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    width:165px;
    height:50px;
    box-shadow: none;
    text-decoration: none;   
    
  }
  
 
  .header img {
    margin-left: 15px;
  }
  
  .main-component{
    height: 75vh;
    margin: 0%;
    padding: 0%;
    
    }

  
  footer {
    position: absolute;
    width: 100vw;    
    position: fixed;
    bottom: 0;
  }

 
    
</style>
