<template>

<div class="menuperfil">  
    <div class="btn-group" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary" v-on:click="profileUser"><fa icon="briefcase"/> Admin</button>       
      <button type="button" class="btn btn-outline-primary" v-on:click="inDriver"><fa icon="id-card-alt"/> Conductor</button>
      <button type="button" class="btn btn-outline-primary" v-on:click="inRutas"><fa icon="route"/> Rutas</button>      
      <button type="button" class="btn btn-outline-primary" v-on:click="inBus"><fa icon="bus"/> Bus</button>
    </div>    
</div>
<hr>
    
    <div class="blq6-user">
        <h1>¡Bienvenido <span> {{username}} </span>!</h1>
        <img alt="icon-ruta" src="@/assets/iconuser.png"/>
        <h2>Nombre: <span> {{username}} </span></h2>
        <br>
        <h2>C.C. <span> {{document}} </span></h2>
        <br>
        <h2>Email: <span> {{email}} </span></h2>
    </div> 

<div class="driver_user">
        <div class="container_driver">
            <h2><fa icon="id-card-alt" color="#2184b8" /> Ingreso Conductor</h2>

            <form v-on:submit.prevent="onSubmit" >
               <div class="row mb-2">
                    <div class="col">
                        <div class="form-outline">
                            <div class="select">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Tipo de Documento</option>
                                    <option value="1">Cedula Ciudadania</option>
                                    <option value="2">Cedula Extranjeria</option>
                                    <option value="3">Pasaporte</option>                
                                </select>
                            </div>
                        </div>
                    </div>                
                    <div class="col">
                        <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control" placeholder="N° Documento" />                            
                        </div>
                    </div>
                </div>                  
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Nombre Completo" />                    
                </div> 
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Dirección" />                    
                </div> 
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Email"/>                    
                </div>  
                <div class="form-outline mb-2">
                    <input type="text" id="form6Example3" class="form-control" placeholder="Teléfono"/>                    
                </div>                 

                <button type="submit">Guardar Datos</button>
            </form>
        </div>
    </div>
    
</template>

<script>
export default {
  name: "drivers",

  data: function() {
    return {
      username: localStorage.getItem("username") || "usuario",
      document: localStorage.getItem("document") || "documento",
      email: localStorage.getItem("email") || "email",
    };
  },
  methods: {
    inRutas: function() {
      this.$router.push({ name: "routes" });
    },  
    inDriver: function() {
      this.$router.push({ name: "driver" });
    },
    inBus: function() {
      this.$router.push({ name: "bus" });
    },
    profileUser: function() {
      this.$router.push({ name: "profile" });
    },
    
  },
};
</script>



<style> 

.menuperfil button {
    color: #2184b8;        
    background: none;
    text-align: left;          
    text-decoration: none;     
    display:inline-block;
    border: none;
    
} 

hr {
  margin-top: 5px;
  color: #2184b8;

}

.blq6-user {
  justify-content: center;
  align-items: center;
  margin-top: -50px;  
}

.blq6-user img{
    display:inline-block;
    margin-left: 1050px;
    position: relative;
    margin-top: 5px;    
    width: 150px;
    height: 150px;
} 

.blq6-user h2{
    font-size: 25px;    
    margin-top: 30px;
    margin-left: 900px;
    display:inline-block;
    position: relative;   
    color: #fff;
}

.blq6-user h1{
    font-size: 35px;
    color: #fff;
    margin-top: -50px;    
    margin-left: 960px;
    display:inline-block;
    position: relative;   
}

.blq6-user span {
  color: #4d4c4c; 
  font-style: italic; 
}

.driver_user{
        margin-top: -350px;
        margin-left: 30px;;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-block;
        
    }

.driver_user h2{
        color: #4d4c4c;
        margin-top: 30px;        
        margin-bottom: 20px;
        margin-right: 160px;
        
    }
    
.driver_user form{
    width: 70%;        
    }


.driver_user button{
    width: 100%;
    height: 40px;
    color: #fff;
    background: #2184b8;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
    margin-bottom: 35px;
    font-size: 20px;        
    display:flex;
    justify-content: center;
    align-items: center;
    }

.driver_user button:hover{
    color: #fff;
    background: rgb(20, 190, 220);
    border: 1px solid #2184b8;
}

.container_driver {    
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 5px;
    margin-left: -50px;    
}

.container_driver input {
    border: 1px solid #2184b8;
}

.container_driver select {
    border: 1px solid #2184b8;
}  




</style>