<template>
  <div class="t-driver">
  <table class="table table-striped">
    <h3> Lista Conductores </h3>
    <thead>
      <tr>
        <th scope="col" width="70">Documento</th>
        <th scope="col" width="150">Nombre</th>
        <th scope="col" width="200">Email</th>
        <th scope="col" width="110">Teléfono</th>             
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{documento }}</th>
        <td>{{Nombre }}</td>
        <td>{{email}}</td>
        <td>{{ telefono }}</td>        
        <td>
           <button class="btn btn-info">
            Editar
          </button>
          <button class="btn btn-danger mx-3">
            Eliminar
          </button> 
        </td>        
      </tr>
    </tbody>
  </table>  
</div>
      
 </template> 


 <style>

  .t-driver table {      
    margin-top: -400px;
    margin-left: -90px; 
    white-space:nowrap;     
    display: inline-block;  
    position: relative;
    
  }

  .t-driver th, td {
     text-align: center;      
  } 

  .t-driver th {
    color: #2184b8;
    
  }


 
 </style>